/* Fuente titulos */
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
/* Fuente parrafos */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import 'base/extends';
@import 'componentes/header';
@import 'componentes/footer';

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
}

// INDEX.HTML
@import 'componentes/carousel';
@import 'componentes/section-two';
@import 'componentes/section-three';
// FIN INDEX.HTML


// SECCION1.HTML = PRODUCTOS
/* MAIN */
main {
    .productos {
        #vehiculos, #grosso, #hogar, #clasicos, #primera-infancia, #blockis, #juegos-y-juguetes, #playa, #disney {
            height: 50px;
        }

        .fotos-productos {
            @extend %flexbox;

            .card {
                margin: 10px;
            }
        }
    }

    .item-fixed {
        position: fixed;
        bottom: 10px;
        right: 15px;  

        i {
            color: #030CB0;
            font-size: 50px;
        }
    }
}
/* FIN MAIN */


// SECCION2.HTML = NOSOTROS
/* MAIN */
main {
    h2 {
        @extend %textos;
        font-family: 'Otomanopee One', sans-serif;
        padding-top: 20px;
    }

    .nosotros {
        @extend %textos;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 150%;
        margin: 15px 45px;
        padding-bottom: 15px;
    }
}
/* FIN MAIN */

// SECCION3.HTML = CONTACTO
/* MAIN */
/* FORMULARIO DE CONTACTO */
.site-section {

    .section-title {
        padding-top: 0px;
    }

    .fas {
        padding-right: 10px;
    }

}
/* FIN MAIN */

// MEDIAS QUERY
@import 'base/medias-query';