/* Mobile */
@media only screen and (max-width: 740px) {
    body {
        background-image: linear-gradient(to top, lighten(rgb(255, 0, 0), 20%), #f8f9fa);

        h1 {
            font-size: 200%;
        }

        .carousel-inner img {
            width: 100%;
            max-height: auto;
        }
        
        .carousel-inner{
         height: auto;
        }
    }
    
}

/* Tablet */
@media only screen and (min-width: 741px) and (max-width: 1370px) {
    body {
        background-image: linear-gradient(to top, lighten(rgb(0, 255, 21), 20%), #f8f9fa);

        .carousel-inner img {
            width: 100%;
            max-height: auto;
        }
        
        .carousel-inner{
         height: auto;
        }
    }
}

/* Desktop */
@media only screen and (min-width: 1371px) {
    body {
        background-image: linear-gradient(to top, lighten(rgb(0, 204, 255), 20%), #f8f9fa);
    }
}