footer {
    @extend %flexbox;
    align-items: center;
    flex-wrap: wrap;
    
    div {
        text-align: center;
        padding-bottom: 20px;
    }

}

.redes-sociales {
    list-style-type: none;
    display: flex;
    justify-content: center;

    i {
        color: #030CB0;
        font-size: 50px;
        padding: 10px;
    }
}

.derechos-reservados {
    @extend %flexbox;
}