footer {
    @extend %flexbox;
    align-items: center;
    flex-wrap: wrap;
    
    div {
        text-align: center;
        padding-bottom: 20px;

        // h3 {
        //     font-family: 'Otomanopee One', sans-serif;
        // }

        p {
            font-family: 'Source Sans Pro', sans-serif;
        }

        img {
            width: 100%;
        }

        .mapa {
            iframe {
                width: 100%;
            }
        }

        .redes-sociales {
            list-style-type: none;
            display: flex;
            justify-content: center;
            padding-left: 0px;

            li:nth-child(2) {
                padding: 0px 30px;
            }
        }

    }

}

.derechos-reservados {
    @extend %flexbox;
    text-align: center;
}