h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #030CB0;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    animation: pulse;
    animation-duration: 1.5s;
    //padding: 15px;
}