.imagenes-abajo {
    @extend %flexbox;
    padding: 20px 0 40px;

    img {
    width: 250px;
    height: 250px;
    }

    img:hover {
        transform: scale(1.5);
        transition: all 1.5s;
        z-index: 10;
    }
}

