.bienvenida {
    h2 {
    text-align: center;
    color: #030CB0;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 150%;
        color: #030CB0;
        text-align: center;
        margin: 15px 45px;
    }
    
    a {
        display: contents;
    }
}

// .novedades {
//     @extend %flexbox;
//     flex-wrap: wrap;

//     img {
//         height: 20%;
//         width: 20%;
//         margin: 1%;
//     }
// }

// .videos {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     padding-top: 20px;
// }

// .descr-video {
//     font-size: 20px;
//     font-style: italic;
//     text-align: center;
//     padding-top: 20px;
// }

// .portada {
//     width: 100%;
//     margin-top: 2%;
// }
