.bienvenida {
    h2 {
    flex-wrap: wrap;
    text-align: center;
    color: #030CB0;
    font-family: 'Otomanopee One', sans-serif;
    padding-top: 25px;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 150%;
        color: #030CB0;
        text-align: center;
        margin: 15px 45px;
    }
    
    a {
        display: contents;
    }
}