h1 {
    @extend %textos;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 80px;
    text-decoration: underline;
    animation: pulse;
    animation-duration: 1.5s;
    padding-top: 25px;
}

.bienvenida {
    h2 {
        @extend %textos;
        font-family: 'Otomanopee One', sans-serif;
        padding-top: 25px;
    }

    p {
        @extend %textos;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 150%;
        margin: 15px 45px;
    }
    
    a {
        display: contents;
    }
}