h2 {
    text-align: center;
    color: #030CB0;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
}


// .videos {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     padding-top: 20px;
// }

// .descr-video {
//     font-size: 20px;
//     font-style: italic;
//     text-align: center;
//     padding-top: 20px;
// }

// .portada {
//     width: 100%;
//     margin-top: 2%;
// }

.carrusel-de-productos {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4% 3%;

    img {
        width: 18%;
    }

    i {
        display: flex;
        align-items: center;
        color: #030CB0;
        font-size: 50px;
    }
}
