// .info-adicional {
//     font-family: 'Source Sans Pro', sans-serif;
//     color: #030CB0;
//     text-align: center;
//     padding-top: 10px;
//     padding-bottom: 10px;
// }

h2 {
    text-align: center;
    color: #030CB0;
    font-family: 'Otomanopee One', sans-serif;
    padding-top: 20px;
}

.imagenes-abajo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;

    img {
    width: 250px;
    height: 250px;
    }

    img:hover {
        transform: scale(1.5);
        transition: all 1.5s;
        z-index: 10;
    }
}

